{% for section_heading in article.metafields.accentuate.section_heading %}
    {% assign section_img = '' %}
    {% if article.metafields.accentuate.section_image[forloop.index0] != blank %}      
        {% for image in article.metafields.accentuate.section_image[forloop.index0] %}
          {% assign section_img = image %}
        {% endfor %}
    {% endif %}

    <div class="article-repeatable-content" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="container-xxl">
        <div class="row">
          <div class="col-md-8">
            <h2 class="h1">{{ section_heading }}</h2>
            <div class="content">{{ article.metafields.accentuate.section_content[forloop.index0].html  }}</div>
          </div>
          {% if section_img != blank %}
          <div class="col-md-8 col-lg-7 offset-lg-1 fun-blog-detail__right-col">
            <div class="fun-blog-detail__images" itemprop="image">
              <img
                src="{{ section_img.src }}"
                loading="lazy"
                width="{{ section_img.width }}"
                height="{{ section_img.height }}"
                alt="{{ section_img.alt | escape }}">
              <figcaption>
                  {{ section_img.alt }}
              </figcaption>
            </div>
          </div>
          {% endif %}
        </div>    
      </div>
    </div>
  {% endfor %} 