<!-- {% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

<link rel="stylesheet" href="{{ 'component-pagination.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-pagination.css' | asset_url | stylesheet_tag }}</noscript>

{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper">
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <ul class="pagination__list list-unstyled" role="list">
      {%- if paginate.previous -%}
        <li>
          <a href="{{ paginate.previous.url }}{{ anchor }}" class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce" aria-label="{{ 'general.pagination.previous' | t }}">
            {% render 'icon-caret' %}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <li>
          {%- if part.is_link -%}
            <a href="{{ part.url }}{{ anchor }}" class="pagination__item link" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span class="pagination__item pagination__item--current" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
            {%- else -%}
              <span class="pagination__item">{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="infinite_next">
          <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce" aria-label="{{ 'general.pagination.next' | t }}" >
            {%- render 'icon-caret' -%}
          </a>
        </li>
      {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%} -->

<nav class="velaPagination clearfix">
  <ul class="pagination">
      {% if paginate.previous %}
          <li class="pagiPrevious">
              <a href="{{ paginate.previous.url }}" title="{{ 'general.paginate.prev' | t }}">
                  <i class="fa fa-chevron-left"></i> <span>{{ 'general.paginate.prev' | t }}</span>
              </a>
          </li>
      {% else %}
          <li class="disabled">
              <span><i class="fa fa-chevron-left"></i> <span>{{ 'general.paginate.prev' | t }}</span></span>
          </li>
      {% endif %}
      {% for part in paginate.parts %}
          {% if part.is_link %}
              <li>
                  <a href="{{ part.url }}" title="">{{ part.title }}</a>
              </li>
          {% else %}
              {% if part.title == paginate.current_page %}
                  <li class="active"><span>{{ part.title }}</span></li>
              {% else %}
                  <li><span>{{ part.title }}</span></li>
              {% endif %}
          {% endif %}
      {% endfor %}
      {% if paginate.next %}
          <li class="pagiNext">
              <a href="{{ paginate.next.url }}" title="{{ 'general.paginate.next' | t }}">
                  <span>{{ 'general.paginate.next' | t }}</span> <i class="fa fa-chevron-right"></i>
              </a>
          </li>
      {% else %}
          <li class="disabled">
              <span><span>{{ 'general.paginate.next' | t }}</span> <i class="fa fa-chevron-right"></i></span>
          </li>
      {% endif %}
  </ul>
<input type="hidden" value="{{ paginate.next.url }}" data-next-link>
<input type="hidden" value="{{ paginate.pages }}" data-all-pages>
<input type="hidden" value="{{ paginate.current_page }}" data-this-page>
<input type="hidden" value="{{ collection.url }}" data-coll-url>
<div class="load-more_wrap">
<button class="btn js-load-more">
<span class="load-more-text">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.77 35.9" style="enable-background:new 0 0 65.77 35.9" xml:space="preserve"><path d="M33.15 28.88 5.16.89a3.03 3.03 0 0 0-4.28 0 3.03 3.03 0 0 0 0 4.28L30.21 34.5c.39.39.86.64 1.36.77 1.19.92 2.9.85 3.99-.24L64.88 5.69c.59-.59.89-1.36.89-2.14s-.29-1.55-.89-2.14a3.03 3.03 0 0 0-4.28 0L33.15 28.88z" style="fill:#203a70"/></svg>
</span>
<span class="hide" loader>
<img src="{{ 'loading.gif' | asset_url }}"/>
</span>
</button>
</div>
</nav>

<style>
  .load-more_wrap{
      margin: 40px 0 60px; 
      text-align: center;
  }
  .load-more-text{
      height: 30px;
      width: 60px;
      display: block;
  }
  .load-more-text svg{
      width: 100%;
      height: 100%;
  }
  .load-more_wrap img{
  max-width: 25px;
  }
  ul.pagination{
  display: none !important;
  }
</style>
<script>
  $('.js-load-more').on('click', function(){
  var $this =$(this),
  totalPages = parseInt($('[data-all-pages]').val()),
  currentPage = parseInt($('[data-this-page]').val()),
  datacollurl = $('[data-coll-url]').val();;
  $this.attr('disabled', true);
  $this.find('[load-more-text]').addClass('hide');
  $this.find('[loader]').removeClass('hide');
  var nextUrl = $('[data-next-link]').val();
  var current_page_new = currentPage + 1;
  var next_coll = currentPage + 2;
  //alert(current_page_new)
  //return false;
  $.ajax({
  url: nextUrl,
  type: 'GET',
  dataType: 'html',
  success: function(responseHTML){
  $('[data-next-link]').val(datacollurl + "?page="+next_coll);
  $('[data-this-page]').val(current_page_new);
  $('.velaFlexRow').append($(responseHTML).find('.velaFlexRow').html());
  },
  complete: function() {
  if(current_page_new < totalPages) {
  $this.attr('disabled', false); $this.find('[load-more-text]').removeClass('hide'); $this.find('[loader]').addClass('hide');
  } 
  if(current_page_new >= totalPages) {
  $this.find('[load-more-text]').text('Products Finished').removeClass('hide'); $this.find('[loader]').addClass('hide');
  } 
  }
  })
 });
</script>
