<section class="section section-artists-involved section-{{ section.id }}-padding">
    <div class="container-xxl">
      <div class="row">
        <div class="col-16">
            {%- unless section.settings.section_heading == blank -%}
              <div class="fun-product-list__title-wrapper">
                <div class="fun-product-list__title">
                  <h2>{{ section.settings.section_heading }}</h2>
                </div>
              </div>
            {%- endunless -%}
            {% for block in section.blocks %}  
                <div class="link" {{ block.shopify_attributes }}>    
                  {{ block.settings.image | image_url: width: 320 | image_tag }}
              {{ block.settings.video_url }}
                </div> 
            {% endfor %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name":"Installation views",
    "settings":[
       {
          "type":"text",
          "id":"section_heading",
          "label":"Section Heading",
          "default":"Installation views",
          "info":"Artisit list can be managable from custom fields"
       }
    ],
    "blocks":[
       {
          "type":"image",
          "name":"image",
          "settings":[
             {
                "type":"image_picker",
                "id":"image",
                "label":"Upload Image"
             },
             {
                "type":"video_url",
                "id":"video_url",
                "label":"Video Url",
                "accept": [
                    "youtube",
                    "vimeo"
                ]
             }
          ]
       }
    ],
    "presets":[
       {
          "name":"Installation views"
       }
    ]
 }
{% endschema %}