<link rel="stylesheet" href="{{ 'fancybox.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="section section-artists-involved section-{{ section.id }}-padding">
    <div class="container-xxl">
      <div class="row">
        <div class="col-16">
            {%- unless section.settings.section_heading == blank -%}
              <div class="fun-product-list__title-wrapper">
                <div class="fun-product-list__title">
                  <h2>{{ section.settings.section_heading }}</h2>
                </div>
              </div>
            {%- endunless -%}
            {% assign products = section.settings.product_list  %}
            <div class="row fun-featured__row">
              {% for product in products %}
                <div class="col-sm-8 col-lg-4 fun-featured__col">
                  <article class="fun-featured__card {% if product.type == "Art"%} fun-featured__card--portrait {% endif %}">
                    <figure class="fun-featured__figure">
                        {% if product.featured_media %}
                          <img
                              srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                {{ product.featured_media | image_url }} {{ product.featured_media.width }}w"
                              src="{{ product.featured_media | image_url: width: 533 }}"
                              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                              alt="{{ product.featured_media.alt | escape }}"
                              class="motion-reduce fun-featured__img"
                              width="{{ product.featured_media.width }}"
                              height="{{ product.featured_media.height }}"
                              loading="lazy"
                          >
                          {% else %}
                            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                          {% endif %}
                      </figure>
                  
                    <div class="fun-featured__details">
                      <span class="fun-featured__desc">{{ product.title }}</span>
                      <span class="fun-featured__desc">{{ product.description }}</span>
                      {% render 'price' %}
                    </div>
                    <a href="{{ product.url }}" class="fun-featured__anchor">{{ product.title }}</a>
                  </article>
                </div>
              {% endfor %}
            </div>
            
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name":"Exhibiting works",
    "settings":[
       {
          "type":"text",
          "id":"section_heading",
          "label":"Section Heading",
          "default":"Exhibiting works"
       },
       {
        "type": "product_list",
        "id": "product_list",
        "label": "Products",
        "limit": 8
      }
    ],
    "presets":[
       {
          "name":"Exhibiting works"
       }
    ]
 }
{% endschema %}