<section class="section section-artists-involved section-{{ section.id }}-padding">
    <div class="container-xxl">
      <div class="row">
        <div class="col-16">
            {%- unless section.settings.section_heading == blank -%}
              <div class="fun-product-list__title-wrapper">
                <div class="fun-product-list__title">
                  <h2>{{ section.settings.section_heading }}</h2>
                </div>
              </div>
            {%- endunless -%}
            {% assign artist_name = article.metafields.exhibition.choose_artist | split: "|" %}
            {% if artist_name != blank %}
                <div class="fun-blog-detail__artist-list">                    
                    {% for artist in artist_name %}
                      <div class="fun-blog-detail__artist-list--item">
                        {%- if articles[artist].image -%}
                        <div class="author-image"><img src="{{ articles[artist].image | img_url: '63x63' }}" alt="{{ articles[artist].title | escape }}" /></div>
                        {%- endif -%}
                        <a class="author-link" href="#">{{ articles[artist].title | escape }}</a>
                      </div>
                    {% endfor %}                    
                </div>
              {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Artists involved",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Artists involved",
        "info": "Artisit list can be managable from custom fields"
      }     
    ],
    "presets": [
      {
        "name": "Artists involved"
      }
    ]
  }
{% endschema %}