{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.4 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.4 | round: 0 }}px;
  }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .title-{{ section.id }}-margin {
    margin-bottom: {{ section.settings.title_gap | times: 0.4 | round: 0 }}px;
  }

  @media screen and (min-width: 769px) {
    .title-{{ section.id }}-margin {
      margin-bottom: {{ section.settings.title_gap }}px;
    }
  }
{%- endstyle -%}
{% assign artist_name = article.metafields.exhibition.choose_artist | split: "|" %}
{% assign artist_size = article.metafields.exhibition.choose_artist | size %}
<section class="section section-artists-involved section-{{ section.id }}-padding">
    <div class="container-xxl">
      <div class="row">
        <div class="col-16">
            {%- unless section.settings.section_heading == blank -%}
              <div class="fun-product-list__title-wrapper title-{{ section.id }}-margin">
                <div class="fun-product-list__title">
                  <h2>{{ section.settings.section_heading }}</h2>
                </div>
              </div>
            {%- endunless -%}
            {% if artist_size == 0  %}
              <div class="error">No Artist invovled for this exibation.</div>
            {% endif %}
            
            {% if artist_name != blank %}
                <div class="fun-blog-detail__artist-list">                    
                    {% for artist in artist_name %}
                      <div class="fun-blog-detail__artist-list--item">
                        {%- if articles[artist].image -%}
                        <div class="author-image"><img src="{{ articles[artist].image | img_url: '63x63' }}" alt="{{ articles[artist].title | escape }}" /></div>
                        {%- endif -%}
                        <a class="author-link" href="#">{{ articles[artist].title | escape }}</a>
                      </div>
                    {% endfor %}                    
                </div>
              {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Artists involved",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Artists involved",
        "info": "Artists list can be managable from custom fields"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 80
      },
      {
        "type": "range",
        "id": "title_gap",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "SECTION TITLE GAP",
        "default": 48
      }     
    ],
    "presets": [
      {
        "name": "Artists involved"
      }
    ]
  }
{% endschema %}