
{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
}

@media screen and (min-width: 769px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
}

@media screen and (min-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

  <section class="section fun-fullwidth_image__section divider section-{{ section.id }}-padding" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="container-xxl">
        <div class="row">
            <div class="col-16 fun-blog-detail__bottom-col mt-0">
                {% assign article_size = article.metafields.artist.upload_image | size %}
                {% if article_size > 0 %}
                <div class="fun-blog-detail__images" {{ block.shopify_attributes }} itemprop="image">
                    {% for image in article.metafields.artist.upload_image %}
                    <img
                      srcset="{% if image.width >= 350 %}{{ image.cloudinary_src | image_url: 350 }} 350w,{% endif %}
                        {% if image.width >= 750 %}{{ image.cloudinary_src | image_url: 750 }} 750w,{% endif %}
                        {% if image.width >= 1100 %}{{ image.cloudinary_src | image_url: 1100 }} 1100w,{% endif %}
                        {% if image.width >= 1500 %}{{ image.cloudinary_src | image_url: 1500 }} 1500w,{% endif %}
                        {% if image.width >= 2200 %}{{ image.cloudinary_src | image_url: 2200 }} 2200w,{% endif %}
                        {% if image.width >= 3000 %}{{ image.cloudinary_src | image_url: 3000 }} 3000w,{% endif %}
                        {{ image.cloudinary_src | image_url }} {{ image.width }}w"                      
                      src="{{ image.cloudinary_src }}"
                      class="mb-0"
                      loading="lazy"
                      width="{{ image.width }}"
                      height="{{ image.height }}"
                      alt="{{ image.alt | escape }}">
                      {% endfor %}
                </div>               
                {%- elsif article.image -%}
                <div class="fun-blog-detail__images" {{ block.shopify_attributes }} itemprop="image">
                  <img
                    srcset="{% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                      {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                      {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                      {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                      {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                      {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                      {{ article.image | image_url }} {{ article.image.width }}w"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                    src="{{ article.image | image_url: width: 1100 }}"
                    class="mb-0"
                    loading="lazy"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                    alt="{{ article.image.alt | escape }}">
                </div>
              {%- endif -%}
            </div>
          </div>
    </div>
    
  </section>


{% schema %}
{
    "name":"Full Width Image",
    "settings":[       
       {
          "type":"header",
          "content":"Image can be upload from metafield."
       },
       {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 110,
        "step": 5,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 50
      }       
    ],
    "presets":[
       {
          "name":"Full Width Image"
       }
    ]
 }
{% endschema %}