
{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
}

@media screen and (min-width: 769px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
}

@media screen and (min-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}
{{ article.metafields.accentuate.section_content | size }}
<section class="section fun-blog-detail__section section-{{ section.id }}-padding" itemscope itemtype="http://schema.org/BlogPosting">
    {% render 'article-repeatable-content', article: article %}
</section>

{% schema %}
{
    "name":"Repeatable content",
    "settings":[
       {
          "type":"text",
          "id":"section_heading",
          "label":"Section Heading",
          "default":"Repeatable content",
          "info":"Content can be managable from custom fields of respective page"
       },
       {
          "type":"header",
          "content":"t:sections.all.padding.section_padding_heading"
       },
       {
          "type":"range",
          "id":"padding_top",
          "min":0,
          "max":100,
          "step":4,
          "unit":"px",
          "label":"t:sections.all.padding.padding_top",
          "default":80
       },
       {
          "type":"range",
          "id":"padding_bottom",
          "min":0,
          "max":120,
          "step":2,
          "unit":"px",
          "label":"t:sections.all.padding.padding_bottom",
          "default":36
       },
       {
          "type":"range",
          "id":"title_gap",
          "min":0,
          "max":120,
          "step":2,
          "unit":"px",
          "label":"SECTION TITLE GAP",
          "default":88
       }
    ],
    "presets":[
       {
          "name":"Repeatable content"
       }
    ]
 }
{% endschema %}