<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.35 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.35 | round: 0 }}px;
  }

  .section-title-{{ section.id }}-margin{
    margin-bottom: {{ section.settings.margin_bottom | times: 0.35 | round: 0 }}px;
  }

  .card{
    border: 0;
  }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    }

    .section-title-{{ section.id }}-margin{
      margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-title-{{ section.id }}-margin {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }

  }
{%- endstyle -%}

{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}

<section class="section fun-bookmark__section section-{{ section.id }}-padding">
  <div class="container-xxl">
    <div class="row fun-bookmark__row">
      <div class="col-16">
        <div class='fun-ex-blogs__sub-title-wrapper section-title-{{ section.id }}-margin'>
          {% if section.settings.large_title %}
            <h2 class="fun-ex-blogs__title">{{ section.settings.section_heading }}</h2>
          {% else %}
            <h3 class="fun-ex-blogs__sub-title mb-0">{{ section.settings.section_heading }}</h3>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row fun-bookmark__past-row">
      {% paginate blog.articles by 4 %}
      {% assign count = 0 %}
      {%- for article in section.settings.blog.articles -%}

          {% assign today_date = 'now' | date: '%s' %}
          
          {% assign pre_date = article.metafields.exhibitions.start_date | date: '%s' %}
          {% assign post_date = article.metafields.exhibitions.end_date | date: '%s' %}
          {% if today_date > pre_date and today_date > post_date %}
          {% assign count = count | plus: 1  %}
            <div class="col-sm-8 col-md-4 fun-bookmark__col--past">
                <article class="fun-bookmark__card fun-bookmark__card--past {{ section.settings.custom_class }}">
                  <figure class="fun-bookmark__fig">
                    <img
                      srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                        {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                      src="{{ article.image.src | image_url: width: 533 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                      alt="{{ article.image.src.alt | escape }}"
                      class="motion-reduce fun-bookmark__img"
                      loading="lazy"
                      width="{{ article.image.width }}"
                      height="{{ article.image.height }}"
                    >
                    <a href="{{ article.url }}" class="fun-bookmark__link fun-bookmark__link--hidden">
                      <span>{{ article.url }}</span>
                    </a>
                  </figure>
                  <div class="d-flex flex-column justify-content-between fun-bookmark__past-desc-wrapper">
                    <div>
                      <a class="fun-bookmark__card-title" href="{{ article.url }}">{{ article.title }}</a>

                      {%- if  section.settings.custom_class == "fun-bookmark__card--past-new" -%}
                        <date class="fun-event__date mb-4 d-flex">{{ article.metafields.custom.start_date | date: "%d %b" }} - {{ article.metafields.custom.end_date | date: "%d %b %Y" }}</date>
                      {%- else -%}
                        <h4 class="fun-bookmark__subtitle fun-bookmark__subtitle--past section-subtitle">
                          {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                              {%- if article.excerpt.size > 0 -%}
                                {{ article.excerpt | strip_html | truncate: 50 }}
                              {%- else -%}
                                {{ article.content | strip_html | truncate: 50 }}
                              {%- endif -%}
                          {%- endif -%}
                        </h4>
                      {%- endif -%}
                    </div>

                      <div>
                        {%- if  section.settings.custom_class == "fun-bookmark__card--past-new" -%}
                          <h4 class="fun-bookmark__subtitle fun-bookmark__subtitle--past section-subtitle mb-0">
                            {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                                {%- if article.excerpt.size > 0 -%}
                                  {{ article.excerpt | strip_html | truncate: 50 }}
                                {%- else -%}
                                  {{ article.content | strip_html | truncate: 50 }}
                                {%- endif -%}
                            {%- endif -%}
                          </h4>
                        {%- else -%}
                          <date class="fun-event__date">{{ article.metafields.exhibitions.start_date | date: "%d %b" }} - {{ article.metafields.exhibitions.end_date | date: "%d %b %Y" }}</date>
                        {%- endif -%}
                      </div>
                  </div>
                </article>
              </div>
        {% endif %}
        {%- endfor -%}
        {% if  count == 0 %}
          <div class="error">{{ section.settings.empty_message }}</div>                    
        {% endif %}
        {% if paginate.pages > 1 %}
        {% render 'load-more', next_page: paginate.next.url, page_size: paginate.pages, load_more_text: "Load more", end_text: "No more products to load" %}
        {% endif %}
        {% endpaginate %}
    </div>
  </div>
</section>
<script src="{{ 'splide.min.js' | asset_url }}" defer></script>
<script defer>
  document.addEventListener('DOMContentLoaded', function(){
    new Splide( '.js-splide-1', {
        perMove: 1,
        {% comment %} gap: "29px", {% endcomment %}
        autoWidth:true,
        pagination: false,

    } ).mount();
  });
</script>
{% schema %}
{
  "name": "fun past event",
  "tag": "section",
  "class": "section",
  "settings": [

    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class",
      "default": "normal"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Past"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "checkbox",
      "id": "large_title",
      "default": false,
      "label": "Set large title without line"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Margin gap between title",
      "default": 50
    },
    {
      "type": "text",
      "id": "empty_message",
      "label": "Empty Message"
    }
  ],
  "presets": [
    {
      "name": "fun past event",
      "settings": {
        "blog": "Events"
      }
    }
  ]
}
{% endschema %}
