<link rel="stylesheet" href="{{ 'fancybox.css' | asset_url }}" media="print" onload="this.media='all'">



{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign list_size = article.metafields.video_url.video_url | size %}
<section class="section section-{{ section.id }}-padding">
  <div class="container-xxl">
    <div class="row">
      <div class="col-16">
          {%- unless section.settings.section_heading == blank -%}
            <div class="fun-product-list__title-wrapper">
              <div class="fun-product-list__title">
                <h2>{{ section.settings.section_heading }}</h2>
              </div>
            </div>
          {%- endunless -%}


        <div class="row fun-bookmark__past-row">
            <div class="fun-product-list__gallery-wrapper">
                {% if list_size == 0  %}
                    <div class="error">Events are not available.</div>
                {% endif %}
                {% for image in article.metafields.video_url.video_url %}
                  {% assign video_url = '' %}
                    {% if article.metafields.video_url.video_url[forloop.index0] != blank %}     
                       {% assign video_url = article.metafields.video_url.video_url[forloop.index0] %}
                    {% endif %}
                  <div class="link {% if video_url != blank %} link--anchor {% endif %}" {{ block.shopify_attributes }}>  
                    {% if video_url contains "https://" or video_url contains "www." %}
                      <a class="fun-bookmark__card-title" href="{{ video_url }}" data-fancybox>
                        <img
                           src="{{ installation_img.src }}"
                           loading="lazy"
                           width="{{ installation_img.width }}"
                           height="{{ installation_img.height }}"
                           alt="{{ installation_img.alt | escape }}">
                        <svg width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle opacity="0.3" cx="44.5" cy="44.5" r="44.5" fill="white"/>
                          <path d="M30.7266 26.78V61.4251C30.7266 64.067 33.6359 65.6722 35.8765 64.2342L63.0977 46.9116C65.171 45.6074 65.171 42.5977 63.0977 41.2601L35.8765 23.971C33.6359 22.533 30.7266 24.1382 30.7266 26.78Z" fill="#323232"/>
                        </svg>              
                      </a>
                     {% endif %}
                  </div>
                  {%  endfor %}
               </div>
        </div>

      </div>
    </div>
  </div>
</section>

<script src="{{ 'fancybox.min.js' | asset_url }}" defer></script>
{% schema %}
  {
    "name": " Fun Event Video Listing",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Videos"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 170,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 148
      }
    ],
    "presets": [
      {
        "name": "Fun Event Video Listing"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}