<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-title-{{ section.id }}-margin{
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }

  .card{
    border: 0;
  }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    .section-title-{{ section.id }}-margin{
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-title-{{ section.id }}-margin {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }

  }
{%- endstyle -%}

{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limits <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limits
  endif
-%}

{% assign exhibition_name = article.metafields.artist.choose_exhibitions | split: "|" %}
{% assign exhibition_size = article.metafields.artist.choose_exhibitions | size %}

<section class="section fun-bookmark__section fun-bookmark__section--no-divider section-{{ section.id }}-padding">
  <div class="container-xxl">
    <div class="row fun-bookmark__row d-md-flex">
      <div class="col-16">
        <div class='fun-ex-blogs__sub-title-wrapper mb-0'>
          {% if section.settings.large_title %}
            <h2 class="fun-ex-blogs__title section-title-{{ section.id }}-margin">{{ section.settings.section_heading }}</h2>
          {% else %}
            <h2 class="fun-ex-blogs__sub-title section-title-{{ section.id }}-margin">{{ section.settings.section_heading }}</h2>
          {% endif %}
        </div>
      </div>
    </div>
    {% if exhibition_size == 0  %}
      <div class="error">No Artist invovled for this exhibition.</div>
    {% endif %}
    {% if exhibition_name != blank %}
    <div class="row fun-event__row fun-event__upcoming-row justify-content-between">                    
          {% for exhibition in exhibition_name %}
            <div class="col-sm-8 col-lg-5 fun-event__col">
              <article class="fun-event__card fun-event__card--events">

                {%- if articles[exhibition].image -%}
                <figure class="fun-event__fig">
                  <img
                  srcset="{%- if articles[exhibition].image.src.width >= 165 -%}{{ articles[exhibition].image.src | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if articles[exhibition].image.src.width >= 360 -%}{{ articles[exhibition].image.src | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if articles[exhibition].image.src.width >= 533 -%}{{ articles[exhibition].image.src | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if articles[exhibition].image.src.width >= 720 -%}{{ articles[exhibition].image.src | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if articles[exhibition].image.src.width >= 1000 -%}{{ articles[exhibition].image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                      {%- if articles[exhibition].image.src.width >= 1500 -%}{{ articles[exhibition].image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ articles[exhibition].image.src | image_url }} {{ articles[exhibition].image.src.width }}w"
                  src="{{ articles[exhibition].image | img_url: 533 }}"            
                  alt="{{ articles[exhibition].title | escape }}"
                  class="motion-reduce fun-event__img"
                  loading="lazy"
                  width="{{ articles[exhibition].image.width }}"
                    height="{{ articles[exhibition].image.height }}"
                  />
                  <a href="{{ articles[exhibition].url }}" class="fun-event__link fun-event__link--hidden">
                    <span>{{ articles[exhibition].url }}</span>
                  </a>
                </figure>
                {%- endif -%}
                <div class="d-flex flex-column fun-event__description-wrapper">
                    <a class="fun-event__card-title" href="{{ articles[exhibition].url }}">{{ articles[exhibition].title }}</a>
                    <div>
                      <h4 class="fun-event__subtitle section-subtitle">
                      {%- if articles[exhibition].excerpt.size > 0 or articles[exhibition].content.size > 0 -%}
                      {%- if articles[exhibition].excerpt.size > 0 -%}
                        {{ articles[exhibition].excerpt | strip_html | truncatewords: 14 }}
                      {%- else -%}
                        {{ articles[exhibition].content | strip_html | truncatewords: 30 }}
                      {%- endif -%}
                  {%- endif -%}
                    </h4>
                      <date class="fun-event__date">{{ articles[exhibition].metafields.exhibitions.start_date | date: "%d %b" }} - {{ articles[exhibition].metafields.exhibitions.end_date | date: "%d %b %Y" }}</date>
                    </div>
                </div>
              </article>
            </div>
          {% endfor %}                    
      </div>
    {% endif %}

    {% comment %}
    <div class="row fun-event__row fun-event__upcoming-row {% if section.settings.blog.articles.size > 2 %} justify-content-between {% endif %}">
      {% assign artist_name = article.title | upcase %}
      {%- for article in section.settings.blog.articles limit: section.settings.post_limits -%}
      {% assign today_date = 'now' | date: '%s' %}
          {% assign pre_date = article.metafields.custom.start_date | date: '%s' %}
          {% assign post_date = article.metafields.custom.end_date | date: '%s' %}
          {% for tag in article.tags %}
          {%- if tag contains artist_name -%}
            <div class="col-sm-8 col-lg-5 fun-event__col">
              <article class="fun-event__card fun-event__card--events">
                <figure class="fun-event__fig">

                  <img
                    srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                      {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                    src="{{ article.image.src | image_url: width: 533 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ article.image.src.alt | escape }}"
                    class="motion-reduce fun-event__img"
                    loading="lazy"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                  >
                  <a href="{{ article.url }}" class="fun-event__link fun-event__link--hidden">
                    <span>{{ article.url }}</span>
                  </a>
                </figure>
                <div class="d-flex flex-column fun-event__description-wrapper">
                    <a class="fun-event__card-title" href="{{ article.url }}">{{ article.title }}</a>
                    <div>
                      <h4 class="fun-event__subtitle section-subtitle">
                      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                      {%- if article.excerpt.size > 0 -%}
                        {{ article.excerpt | strip_html | truncatewords: 14 }}
                      {%- else -%}
                        {{ article.content | strip_html | truncatewords: 30 }}
                      {%- endif -%}
                  {%- endif -%}
                    </h4>
                      <date class="fun-event__date">{{ article.metafields.custom.start_date | date: "%b %d" }} - {{ article.metafields.custom.end_date | date: "%b %d, %Y" }}</date>
                    </div>
                </div>
              </article>
          </div>
          {%- endif -%}
          {% endfor %}
              
              
      {%- endfor -%}
    </div>
    {% endcomment %}
  </div>
</section>
<script src="{{ 'splide.min.js' | asset_url }}" defer></script>
<script defer>
  document.addEventListener('DOMContentLoaded', function(){
    new Splide( '.js-splide-1', {
        perMove: 1,
        {% comment %} gap: "29px", {% endcomment %}
        autoWidth:true,
        pagination: false,

    } ).mount();
  });
</script>
{% schema %}
{
  "name": "fun Artist Exhibitions",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Exhibitions",
      "info": "Exhibitions list can be managable from custom fields"
    },
    {
      "type": "checkbox",
      "id": "large_title",
      "default": false,
      "label": "Set large title without line"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Margin gap between title",
      "default": 50
    },
    {
      "type": "range",
      "id": "post_limits",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Post Limit",
      "default": 6
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "fun Artist Exhibitions"
    }
  ]
}
{% endschema %}
