{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.4 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.4 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .title-{{ section.id }}-margin {
    margin-bottom: {{ section.settings.title_gap | times: 0.4 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .title-{{ section.id }}-margin {
      margin-bottom: {{ section.settings.title_gap }}px;
    }
  }
{%- endstyle -%}

{%- assign counter = 0 -%}
{%- assign break_at = section.settings.number_of_products | plus: 0 -%}
{%- assign current_product = product -%}

<section class="section section-md fun-featured__section section-{{ section.id }}-padding">
    <div class="container-xxl">
        <div class="row">
            <div classs="col-16">
                {%- if section.settings.heading != blank -%}
                    <h2 class="section-title title-{{ section.id }}-margin">{{ section.settings.heading | escape }}</h2>
                {%- endif -%}
            </div>
        </div>
        {% assign count = 0 %}
        {%- for product in collections.all.products -%}
            {%- unless product.handle == current_product.handle -%}
                {% if section.settings.recommended_by == 'tags' %}
                    <div class="row fun-featured__row">
                        {% for tag in product.tags %}
                            {% if current_product.tags contains tag %}
                            {% assign count = count | plus: 1  %}
                                <div class="col-sm-8 col-lg-4 fun-featured__col">
                                    <article class="fun-featured__card">
                                        <figure class="fun-featured__figure">
                                            {% if product.featured_media %}
                                                <img
                                                    srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                                        {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                                        {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                                        {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                                        {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                                        {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                                        {{ product.featured_media | image_url }} {{ product.featured_media.width }}w"
                                                    src="{{ product.featured_media | image_url: width: 533 }}"
                                                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                                    alt="{{ product.featured_media.alt | escape }}"
                                                    class="motion-reduce fun-featured__img"
                                                    width="{{ product.featured_media.width }}"
                                                    height="{{ product.featured_media.height }}"
                                                    loading="lazy"
                                                >
                                            {%- else -%}
                                            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                                            {%- endif -%}
                                        </figure>
                                        <div class="fun-featured__details">
                                            <span class="fun-featured__desc">{{ product.title }}</span>
                                            <span class="fun-featured__desc">{{ product.description }}</span>
                                            {% render 'price' %}
                                        </div>
                                        <a href="{{ product.url }}" class="fun-featured__anchor">{{ product.title }}</a>
                                    </article>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if  count == 0 %}
                        <div class="text-center">No {% if section.settings.heading != blank %} {{ section.settings.heading}} {% else %} data {% endif %}</div>
                            {%- break -%}                    
                        {% endif %}
                    </div>
                {% endif %}
            {%- endunless -%}
        {%- endfor -%}

        <div class="row fun-featured__row">
            {% assign count_1 = 0 %}
            {%- for product in collections.all.products -%}
                {%- unless product.handle == current_product.handle -%}

                    {% if section.settings.recommended_by == 'type' %}
                        {% if current_product.type == product.type %}
                        {% assign count_1 = count | plus: 1  %}
                            <div class="col-sm-8 col-lg-4 fun-featured__col">
                                <article class="fun-featured__card">
                                    <figure class="fun-featured__figure">
                                        {% if product.featured_media %}
                                            <img
                                                srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                                    {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                                    {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                                    {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                                    {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                                    {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                                    {{ product.featured_media | image_url }} {{ product.featured_media.width }}w"
                                                src="{{ product.featured_media | image_url: width: 533 }}"
                                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                                alt="{{ product.featured_media.alt | escape }}"
                                                class="motion-reduce fun-featured__img"
                                                width="{{ product.featured_media.width }}"
                                                height="{{ product.featured_media.height }}"
                                                loading="lazy"
                                            >
                                        {%- else -%}
                                        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                                        {%- endif -%}
                                    </figure>
                                    <div class="fun-featured__details">
                                        <span class="fun-featured__desc">{{ product.title }}</span>
                                        <span class="fun-featured__desc">{{ product.description }}</span>
                                        {% render 'price' %}
                                    </div>
                                    <a href="{{ product.url }}" class="fun-featured__anchor">{{ product.title }}</a>
                                </article>
                            </div>
                        {% endif %}
                    {% elsif section.settings.recommended_by == 'vendor' %}
                        {% if current_product.vendor == product.vendor %}
                            <div class="col-sm-8 col-lg-4 fun-featured__col">
                                <article class="fun-featured__card">
                                    <figure class="fun-featured__figure">
                                        {% if product.featured_media%}
                                            <img
                                                srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                                    {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                                    {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                                    {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                                    {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                                    {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                                    {{ product.featured_media | image_url }} {{ product.featured_media.width }}w"
                                                src="{{ product.featured_media | image_url: width: 533 }}"
                                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                                alt="{{ product.featured_media.alt | escape }}"
                                                class="motion-reduce fun-featured__img"
                                                width="{{ product.featured_media.width }}"
                                                height="{{ product.featured_media.height }}"
                                                loading="lazy"
                                            >
                                        {%- else -%}
                                        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                                        {%- endif -%}
                                    </figure>
                                    <div class="fun-featured__details">
                                        <span class="fun-featured__desc">{{ product.title }}</span>
                                        <span class="fun-featured__desc">{{ product.description }}</span>
                                        {% render 'price' %}
                                    </div>
                                    <a href="{{ product.url }}" class="fun-featured__anchor">{{ product.title }}</a>
                                </article>
                            </div>

                        {% endif %}
                    {%- endif -%}
                    {% if  count_1 == 0 %}
                    <div class="text-center">2No {% if section.settings.heading != blank %} {{ section.settings.heading}} {% else %} data {% endif %}</div>
                        {%- break -%}                    
                    {% endif %}
                    {%- assign counter = counter | plus: 1 -%}

                    {%- if counter == break_at -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endunless -%}
                
            {%- endfor -%}
            
        </div>
    </div>
</section>

{% schema %}
{
    "name": "fun related products",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Recommended products"
        },
        {
            "type": "text",
            "id": "related_tag",
            "label": "Tag",
            "info" : "The tag determines which products show as related products."
        },
        {
            "type": "select",
            "id": "recommended_by",
            "label": "recommendation product by",
            "default": "type",
            "options": [
                {
                "value": "type",
                "label": "type"
                },
                {
                "value": "vendor",
                "label": "vendor"
                },
                {
                "value": "tags",
                "label": "tags"
                }
            ]
        },
        {
            "type": "select",
            "id": "number_of_products",
            "label": "Number of products to show",
            "default": "4",
            "options": [
                {
                "value": "4",
                "label": "4"
                },
                {
                "value": "8",
                "label": "8"
                },
                {
                "value": "12",
                "label": "12"
                }
            ]
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 120,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        },
        {
            "type": "range",
            "id": "title_gap",
            "min": 0,
            "max": 120,
            "step": 2,
            "unit": "px",
            "label": "SECTION TITLE GAP",
            "default": 36
        }
    ],
    "presets": [
        {
            "name": "fun related products"
        }
    ]
}
{% endschema %}