{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
}

@media screen and (min-width: 769px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
}

@media screen and (min-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}
{% assign artist_name = article.metafields.accentuate.choose_author %}
{% assign file = article.metafields.accentuate.download_file %}


<section class="section fun-blog-detail__section section-{{ section.id }}-padding" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container-xxl">
    <div class="row">
      <div class="col-md-8">
        <header class="fun-blog-detail__header" {{ block.shopify_attributes }}>
          <h1 class="article-template__title" itemprop="headline">{{ article.title | escape }}</h1>
          <div>
            {%- if block.settings.blog_show_date -%}
              <span class="circle-divider caption-with-letter-spacing" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'date' }}</span>
            {%- endif -%}
            {%- if block.settings.blog_show_author -%}
              <span class="caption-with-letter-spacing" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ article.author }}</span>
              </span>
            {%- endif -%}
          </div>
        </header>
      </div>
    </div>
  </div>
  {% render 'article-repeatable-content', article: article %}
  <div class="container-xxl">
    <div class="row">
      <div class="col-md-8">
        <!-- author details -->
        {%- if articles[artist_name] != blank -%}
        <div class="fun-blog-detail__author" itemprop="author">
          {%- if articles[artist_name].image -%}
            <div class="author-image"><img src="{{ articles[artist_name].image | img_url: '63x63' }}" alt="{{ articles[artist_name].title | escape }}" /></div>
          {%- endif -%}
          <div class="author-info">
            {%- if articles[artist_name].title -%}
            <h2 class="author-name">{{ articles[artist_name].title | escape }}</h2>
            {%- endif -%}

            {%- if articles[artist_name].metafields.custom.artist_sub_title -%}
            <span class="author-subtitle">{{ articles[artist_name].metafields.custom.artist_sub_title | escape }}</span>
            {%- endif -%}
            
            {%- if articles[artist_name].excerpt -%}
            <div class="author-desc">{{ articles[artist_name].excerpt }}</div>
            {%- endif -%}
          </div>
        </div>
        {%- endif -%}
        
        <div class="fun-blog-detail__actions" {{ block.shopify_attributes }}>
          {% if file %}
            <a href="{{ file[0].original_src }}" class="share-button__button btn btn-primary">Download PDF</a>
          {% endif %}
          <!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons"><span>Share</span></div><!-- ShareThis END -->
        </div>
      </div>
    </div>
  </div>

  {% comment %}
  <div class="container-xxl">
    <div class="row">
      <div class="col-md-8">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              <div class="page-width page-width--narrow">
                {% render block %}
              </div>
            {%- when 'title'-%}
              <header class="fun-blog-detail__header" {{ block.shopify_attributes }}>
                <h1 class="article-template__title" itemprop="headline">{{ article.title | escape }}</h1>
                <div>
                  {%- if block.settings.blog_show_date -%}
                    <span class="circle-divider caption-with-letter-spacing" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'date' }}</span>
                  {%- endif -%}
                  {%- if block.settings.blog_show_author -%}
                    <span class="caption-with-letter-spacing" itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span itemprop="name">{{ article.author }}</span>
                    </span>
                  {%- endif -%}
                </div>
              </header>

            {%- when 'content'-%}
              <div class="fun-blog-detail__content rte" itemprop="articleBody" {{ block.shopify_attributes }}>
                  {{ article.content }}
              </div>
              <!-- author details -->            

              {%- if articles[artist_name] != blank -%}
                <div class="fun-blog-detail__author" itemprop="author">
                  {%- if articles[artist_name].image -%}
                    <div class="author-image"><img src="{{ articles[artist_name].image | img_url: '63x63' }}" alt="{{ articles[artist_name].title | escape }}" /></div>
                  {%- endif -%}
                  <div class="author-info">
                    {%- if articles[artist_name].title -%}
                    <h2 class="author-name">{{ articles[artist_name].title | escape }}</h2>
                    {%- endif -%}
    
                    {%- if articles[artist_name].metafields.custom.artist_sub_title -%}
                    <span class="author-subtitle">{{ articles[artist_name].metafields.custom.artist_sub_title | escape }}</span>
                    {%- endif -%}
                    
                    {%- if articles[artist_name].excerpt -%}
                    <div class="author-desc">{{ articles[artist_name].excerpt }}</div>
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}            

            {%- when 'share' -%}
                <div class="fun-blog-detail__actions" {{ block.shopify_attributes }}>
                  {% if file %}
                    <a href="{{ file[0].original_src }}" class="share-button__button btn btn-primary">Download PDF</a>
                  {% endif %}
                  <share-button class="share-button" {{ block.shopify_attributes }}>
                    <button class="share-button__button btn btn-primary hidden">
                      
                      {{ block.settings.share_label | escape }}
                    </button>
                    <details id="Details-{{ block.id }}-{{ section.id }}">
                      <summary class="share-button__button btn btn-primary">
                       
                        {{ block.settings.share_label | escape }}
                      </summary>
                      <div id="Article-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                        <div class="field">
                          <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                          </span>
                          <input type="text"
                                class="field__input"
                                id="url"
                                value="{{ request.origin | append: article.url }}"
                                placeholder="{{ 'general.share.share_url' | t }}"
                                onclick="this.select();"
                                readonly
                          >
                          <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                        </div>
                        <button class="share-button__close hidden no-js-hidden">
                          {% render 'icon-close' %}
                          <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                        </button>
                        <button class="share-button__copy no-js-hidden">
                          {% render 'icon-clipboard' %}
                          <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                        </button>
                      </div>
                    </details>
                  </share-button>
                  <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
                </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>      
    </div>
  </div>
  {% endcomment %}
</section>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 110,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
