<link rel="stylesheet" href="{{ 'fancybox.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="section section-{{ section.id }}-padding">
  <div class="container-xxl">
    <div class="row">
      <div class="col-16">
          {%- unless section.settings.section_heading == blank -%}
            <div class="fun-product-list__title-wrapper">
              <div class="fun-product-list__title">
                <h2>{{ section.settings.section_heading }}</h2>
              </div>
            </div>
          {%- endunless -%}

       
        <div class="row fun-bookmark__past-row">
          {%- for article in blogs.videos.articles -%}
            {% assign artist_name = article.metafields.accentuate.choose_artist %} 
            {% assign video_url = article.metafields.accentuate.video_url %}    
            <div class="col-sm-8 col-md-4 fun-bookmark__col--past">
                <article class="fun-bookmark__card fun-bookmark__card--past-new">
                  <figure class="fun-bookmark__fig">
                    <img
                      srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                        {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                      src="{{ article.image.src | image_url: width: 533 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                      alt="{{ article.image.src.alt | escape }}"
                      class="motion-reduce fun-bookmark__img"
                      loading="lazy"
                      width="{{ article.image.width }}"
                      height="{{ article.image.height }}"
                    >
                    <a class="fun-bookmark__link fun-bookmark__link--hidden" href="{{ video_url }}" data-fancybox>
                      <span>{{ article.url }}</span>
                    </a>
                  </figure>
                  <div class="d-flex flex-column justify-content-between fun-bookmark__past-desc-wrapper">
                    <div>
                      <a class="fun-bookmark__card-title" href="{{ video_url }}" data-fancybox>{{ article.title }}</a>                      
                      <div class="artist-name">
                        {{ articles[artist_name].title }}
                      </div>
                      
                    </div>
                  </div>
                </article>
              </div>
    
          {%- endfor -%}
        </div>
       
      </div>
    </div>
  </div>
</section>

<script src="{{ 'fancybox.min.js' | asset_url }}" defer></script>
{% schema %}
  {
    "name": "Video Listing",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Videos"
      }      
    ],
    "presets": [
      {
        "name": "Video Listing"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}